:root{
    --univ-dark: #000;
    --univ-light: #FFF;
    --navbar-dark: var(--univ-dark);
    --text-dark: var(--univ-light);
    --navbar-light: #999;
    --text-light: var(--univ-dark);
    --card-dark: #191a1a;
    --pagination-light: #284628;
}

*{
    transition: background-color 500ms ease;
}

.navbar,
.footer{
    background-color: var(--navbar-light);
}

.accent{
    color: var(--pagination-light);
    font-weight: 670;
    letter-spacing: .015em;
}

.nav-link, .navbar-brand{
    color: var(--text-light)
} 

.dark-theme{
    background-color: var(--navbar-dark);
    color: var(--text-dark);
}

.nav-link.dark-theme, .navbar-brand.dark-theme, 
.card-title.dark-theme,
.card-text.dark-theme{
    background-color: unset;
    color: var(--text-dark);
}

.card.dark-theme,
.list-group-item.dark-theme,
.navbar.dark-theme,
.footer.dark-theme{
    background-color: var(--card-dark);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon.dark-theme {
    background-color: unset;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(250, 250, 250, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

 /* dont change popup background */
.mapboxgl-popup-content{
    color: var(--univ-dark);
}

.form-switch .form-check-input,
.form-switch .form-check-input:focus,
.form-check-input, 
.form-check-input:checked,
.form-check-input:focus{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-color: black;
    border-color: var(--univ-light);
    box-shadow: rgba(41, 41, 41, 0.25) 0px 0px 0px 4px;
    height: 25px;
    width: 40px;
}

.form-check{
    width: max-content;
}

.title {
    margin-bottom: 2rem;
}

.gutter{
    margin-bottom: 1rem;
}

.container{
    width: 90%;
}

.nav-item{
    margin-left: .5rem;

}

.active-btn.dark-theme{
    background-color: var(--pagination-light);
}

.page-link.dark-theme{
    color: var(--text-dark);
}

.next-btn.dark-theme{
    border-color: var(--univ-light);
}

.form-select{
    width: max-content;
    background-color: var(--univ-light);
}

.form-select.dark-theme{
    background-color: var(--univ-dark);
    color: var(--univ-light);
}

#map, #cluster-map{
    width: 100%;
}

#map{
    margin: 2rem 0;
    height: 300px;
}

#cluster-map {
    height: 300px;
    margin-bottom: 2.5rem;
}

@media(min-width: 765px){
    #map{
        margin: 0;
    }
}